/*FONT*/
@font-face {
	font-family: "Canal";
	font-style: italic;
	font-weight: bold;
	src: url('../font/CanalBoldItalique.otf');
}
@font-face {
	font-family: "Canal";
	font-weight: bold;
	src: url('../font/CanalBoldRomain.otf');
}
@font-face {
	font-family: "Canal";
	font-weight: normal;
	src: url('../font/CanalDemiRomain.otf');
}
@font-face {
	font-family: "Canal";
	font-weight: normal;
	font-style: italic;
	src: url('../font/CanalDemItalique.otf');
}
@font-face {
	font-family: "Canal";
	font-weight: lighter;
	font-style: italic;
	src: url('../font/CanalLightItalique.otf');
}
@font-face {
	font-family: "Canal";
	font-weight: lighter;
	src: url('../font/CanalLightRomain.otf');
}
@font-face {
	font-family: "CanalSymboles";
	font-weight: normal;
	src: url('../font/CanalSymboles.otf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*GENERAL*/
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Canal;
	font-size: 12px;
	color: white;
}

#fullpage {
    color: white;
}

#fp-nav ul li a span{
	/*border: 1px solid white;
	background: none;*/
	background: white;
}

#fp-nav ul li a.active span{
	background: white;
}

#fp-nav ul li .fp-tooltip.right{
	font-family: opensans;
	font-size: 12px;
}

#personnalisation, #programmes, #partage, #chatbot{
	padding: 3em 5em;
}

.section-bg {
	background-size: cover;
}

h1{
	font-size: 3.5em;
	font-weight: bold;
	text-transform: uppercase;
}

p{
	font-size: 1.8em;
	font-weight: lighter;
	text-transform: uppercase;
}

a{
	color: white;
	text-decoration: none;
}

img{
	width: 100%;
	vertical-align: bottom;
}

.btn{
	padding: 10px 40px;
	border-radius: 5px;
	font-size: 1.6em;
}

/*HEADER*/
/*VIDEO BG*/
#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: url(../images/header_bg.png);
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}

video::-webkit-media-controls {
  display:none !important;
}

#presentation .layer{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 0%;
	bottom: 0%;

	/*
	* Preventing flicker on some browsers
	* See http://stackoverflow.com/a/36671466/1081396  or issue #183
	*/
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#presentation{
	padding: 0;
}

#presentation .fp-scrollable{
	display: flex;
	justify-content: center;
	text-align: center;
}

#presentation .logo{
	width: 28%;
	max-width: 360px;
	margin: 20px 0 100px;
}

#presentation .btn{
	background-color: #00d2ff;
}

#presentation svg{
	display: block;
	width: 70px;
	margin: 54px auto 50px;
	fill-opacity: 0.8;
}

#presentation .scroll-icon{
	position: relative;
	bottom: -90px;
	margin: auto;
}

/*PERSONNALISATION*/
#personnalisation{
	display: flex;
}

#personnalisation div:last-child{
	max-width: 64%;
	padding: 0 4em 0 6em;
	align-self: center;
}

/*PROGRAMMES*/
#programmes {
	display: flex;
}

#programmes div:first-child{
	max-width: 66%;
	padding: 0 5em 0 2em;
	align-self: center;
}

#programmes div img{
	position: relative;
	bottom: -20px;
}


/*PARTAGE*/
#partage {
	display: flex;
}

#partage div:last-child{
	align-self: center;
	max-width: 55%;
	padding: 0px 6em 0px 0px;
}

#partage div:first-child{
	align-self: flex-end;
}

#partage div:first-child img{
	position: relative;
	width: 100%;
	bottom: -20px;
}

/*CHATBOT*/
#chatbot{
	display: flex;
	padding-left: 5.1em;
}

#chatbot .text_section{
	align-self: center;
	max-width: 44%;
}

#chatbot .image_section{
	align-self: flex-end;
	margin-left: auto
}

#chatbot div:last-child {
	margin-left: auto;
}

#chatbot p{
	margin-bottom: 50px;
}

#chatbot .btn{
	color: #00d2ff;
	background-color: #fff;
}

/*OFFRES*/
#offres{
	background-image: url(../images/pricing_bg.png);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#offres .section{
	padding: 0 !important;
}

#offres .content h1{
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
}

#offres .content .blue{
	display: block;
	color: #00d2ff;
}

#offres .content p{
	margin: 0 0 80px;
	font-size: 2.6em;
	text-transform: uppercase;
}

#offres .content .btn{
	background-color: #00d2ff;
}


/*SCROLL ICON*/
/*Animation Keyframes*/
@keyframes scroll_2 {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

/*CSS*/
.scroll {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.scroll-icon {
	display: block;
	position: relative;
	height: 45px;
	width: 26px;
	border: 2px solid #fff;
	border-radius: 1em;
}

.scroll-icon__pivot {
	display: block;
	position: absolute;
	left: 50%;
	background: #fff;
	transform-origin: top center;
	backface-visibility: hidden;
	height: .5em;
	width: .5em;
	top: .625em;
	margin-left: -.25em;
	border-radius: 50%;
	animation: scroll_2 2s ease-out infinite;
}

/*ANIMATIONS ELEMENTS*/
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-delay: 1s;
}
